<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=3, shrink-to-fit=no" name="viewport">


    <link href="https://bootswatch.com/5/minty/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title>{% block title %}Main Menu{% endblock %}</title>
</head>
<body>

<div align="center">
    <br>
    <a>Зарегистрировать клиента</a><br>
</div>

<div align="center">
    <br>
    <form action="" method='POST'>
        <input name="name" placeholder="Имя" type="text"><br>
        <input name="city" placeholder="Город проживания" type="text"><br>
        <br>
        <input name="action" type="submit" value="Добавить">
    </form>
    <a href="/customers">Назад</a>
</div>

</body>
</html>