<!DOCTYPE html>
    <html lang="en">
    <style>
        div {width: 100%;}
        a {display: block; text-align: center;}
    </style>
    <head>
        <meta charset="UTF-8">
        <title>Запросы</title>
    </head>
    <body>
        <h2 align="center">Выберите запрос</h2>
        <form action="">
            <a href="/requests/request1">Запрос1</a>
            <a href="/requests/request2">Запрос2</a>
        </form>
        <br>
        <a href="http://127.0.0.1:5001/">Назад</a>
    </body>
</html>
