<!DOCTYPE html>
    <html lang="en">
    <style>
        div {width: 100%;}
        a {display: block; text-align: center;}
    </style>
    <head>
        <meta charset="UTF-8">
        <title>Запрос2</title>
    </head>
    <body>
        <div align="center">
            <form method="POST">
                <a>Показать все сведения о покупателях, заключивших договора за последние 5 дней</a>                           <br>
                <input type="text" name="days" placeholder = "Введите число дней">    <br>
                <input type="submit" value="send">    <br>
            </form>
            <a href="/requests">Назад</a>
        </div>
    </body>
</html>
